{% extends "base.html" %}

    {% block content %}
        <br><br>
        <h1 style="text-align:center">Add a Blog Entry</h1>
        <form method = 'POST'>
            <label for="title-blog" >Title for your new Blog:
                <br>
                <input id = "title-blog" type = "text" name = "title-blog"  />
                <p class = "error">{{title_error}}</p>
            </label>
            <br>
            <br>
            <label>Your new Blog:
                <br>
                <textarea name = "body"></textarea>
                <p class = "error">{{body_error}}</p>
            </label>            
            <br>
            <br>
            <input type = "submit" value = "Add Entry" />
        </form>

    {% endblock %}